html {
    margin: auto;

    background-color: #68837f;
    background-image: url("crowd.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    /*fix the height of the background for mobile devices*/
    min-height: 100%;
}

header {
    float: top;
    min-width: 855px;
}

body {
    vertical-align: middle;
}

p {
    margin: 0px 0px;
}

img {
    display: block;
    margin: auto;
}

.left {
    width: 35%;
    float: left;
    text-align: right;
}

.right {
    width: 60%;
    margin-left: 20px;
    float:left;
}

.resultsrow {
    width: auto;
    margin: 0 auto;
    /*currently unused*/
}

.results {
    float: left;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    background-color: #FA8B60;
    height: 250px;
    width: 300px;
    padding: 15px;
    border: 10px solid #ef6d3b;
    margin: 25px;
}

.description {
    padding-left: 15px;
    margin-bottom: 10px;
}

#search {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    background-color: #FA8B60;
    height: 400px;
    width: 430px;
    padding: 25px;
    margin: auto;
    border: 10px solid #ef6d3b;
}

#smallsearch {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    background-color: #FA8B60;
    height: auto;
    width: 400px;
    padding: 25px;
    border: 10px solid #ef6d3b;
}

#smallresults {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    background-color: #FA8B60;
    height: auto;
    width: auto;
    padding: 15px;
    border: 10px solid #ef6d3b;
}

#largeresults {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    background-color: #FA8B60;
    height: 450px;
    width: auto;
    padding: 25px;
    border: 10px solid #ef6d3b;
    min-width: 855px;
}

#map {
    width: 35%;
    float: left;
    min-width: 300px;
    max-width: 425px;
}

#travelaccommodationfull {
    width: 810px;
    margin-left:auto;
    margin-right:auto;
}

@media screen and (max-width: 800px){
    #travelaccommodationfull {
        width: 410px;
        margin-left:auto;
        margin-right:auto;
    }
}



.travelaccommodation {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    background-color: #FA8B60;
    height: auto;
    width: 320px;
    padding: 25px;
    border: 10px solid #ef6d3b;
}

.optionslist {
    float: left;
    text-align: left;
}

.priceslist {
    margin-left: 20px;
    text-align: right;
}